streamlit==1.29.0
yfinance==0.2.37
tensorflow==2.13.0rc0
plotly==5.14.1
fredapi==0.5.0
beautifulsoup4==4.12.2
pandas==2.0.1
numpy==1.24.3
keras==2.13.1rc0
scikit-learn==1.2.2
xgboost==1.7.5
millify==0.1.1
pymongo==4.5.0
pybind11==2.12.0
